In [ ]:
'this is a string with a few words'.count(' ') + 1

In [ ]:
pi =  3.141592653589793
radius = int(input())
height = int(input())
volume = (pi * radius ** 2 * height) / 3
print(volume)

In [ ]:
apples3 = int(input()) * 3
apples2 = int(input()) * 2
apples1 = int(input())
bananas3 = int(input()) * 3
bananas2 = int(input()) * 2
bananas1= int(input())
total_apples = apples1 + apples2 + apples3
total_bananas = bananas3 + bananas2 + bananas1
if total_apples > total_bananas:
   print('Apples win: ' , total_apples)
elif total_bananas > total_apples:
  print('Bananas win: ' , total_bananas)
else:
  print('Tie')

In [ ]:
input1 = int(input())
input2 = int(input())
input3 = int(input())
input4 = int(input())

if (input1 == 8 or input1 == 9) & (input4 == 8 or input4 == 9) & (input2 == input3):
  print('Pass')
else:
  print('Accept')

In [ ]:
x = 5
if x > 2:
  x = -3
if x > 1:
  x = 1
else:
  x = 3
print(x)

3

In [ ]:
s = 'garage'
total = 0
for char in s:
  total = total + s.count(char)
  print(total)

In [ ]:
input1 = 'ABCA'
input1len = len(input1)
print(input1len)
for char in input1:
  print(char)

In [ ]:
yesterday = 'CC.'
for spot in yesterday:
  print(spot)
  print('---')
print(yesterday.count('C'))

C
---
C
---
.
---
2

In [ ]:
for num in range(2, 8, 2):
  print(num)

2
4
6

In [ ]:
letters = 'ABC'
digits = '123'
for letter in letters:
  for digit in digits:
    print(letter + digit)
  #print(letter + digit)

In [ ]:
swaps = input().upper()
ball_location = 1

for swap_type in swaps:
  if swap_type == 'A' and ball_location == 1:
    ball_location = 2
  elif swap_type == 'A' and ball_location ==2:
    ball_location = 1
  elif swap_type == 'B' and ball_location == 2:
    ball_location = 3
  elif swap_type == 'B' and ball_location == 3:
    ball_location == 2
  elif swap_type == 'C' and ball_location == 1:
    ball_location = 3
  elif swap_type == 'C' and ball_location == 3:
    ball_location = 1
  print(ball_location)

c
3

In [ ]:
list(range(3, 7))

[3, 4, 5, 6]

In [ ]:
yesteday = 'CC.'
today = '.C.'
for index in range(len(yesterday)):
  print(yesterday[index], today[index])

C .
C C
. .

In [ ]:
yesterday = input().upper()
today = input().upper()

count = 0

for i in range(len(yesterday)):
  if yesterday[i] == 'C' and today[i] == 'C':
    count = count + 1
print(count)

c,c
ccc
2

In [ ]:
words = ['one','two','three']
words[0]
words[1][1]

'w'

In [ ]:
monthly_mb = int(input())
n = int(input())

excess = 0

for i in range(n):
  used = int(input())
  excess = excess + monthly_mb - used

print(monthly_mb + excess)

20
5
3
4
2
1
5
105

In [ ]:
Marthas_bag = 1000
first_slot = 21
second_slot = 45
third_slot = 4